import os
import urllib.parse

MANABA_CLIENT_URL = "https://"
MANABA_HOME_URL = urllib.parse.urljoin(MANABA_CLIENT_URL, "home")

TOP_DIR = os.path.dirname(__file__)
CONFIG_DIR = os.path.join(TOP_DIR, "config")  # 設定ファイルがあるディレクトリ

USERDATA_DIR = r".\UserData"  # Chromeのユーザーデータのフォルダがある場所

# ダウンロードしたファイルの保存先のディレクトリ
SAVE_DIR = r"C:\Users\username\DeskTop"
FILE_HISTORY_JSON_PATH = r".\fileHistory.json"  # ダウンロードしたファイルの履歴が入るJSONファイルのパス
COURSE_LIST_JSON_PATH = r".\courseList.json"  # 講義の一覧が保存されるJSONファイルのパス
# ダウンロードするコンテンツ名の一覧が入るJSONファイルのパス
DOWNLOAD_CONTENT_LIST_JSON_PATH = r".\DownloadContentList.json"

# 講義の一覧（COURSE_LIST_JSON_PATH）を更新するかしないか（True or False）
IS_UPDATE_COURSE_LIST = True
