[
    {
        "name": "講義1",
        "link": "https://",
        "year": "2022",
        "semester": "前期",
        "day": "月曜",
        "period": "2限",
        "professor": "教授の名前",
        "content_list": [
            {
                "name": "講義資料",
                "link": "https://",
                "update_date": "2022-06-03 15:45"
            },
            {
                "name": "授業前準備",
                "link": "https://",
                "update_date": "2022-04-14 09:56"
            }
        ]
    },
    {
        "name": "講義2",
        "link": "https://",
        "year": "2022",
        "semester": "後期",
        "day": "水曜",
        "period": "5限",
        "professor": "教授の名前",
        "content_list": []
    }
]